body{
    background-color: #ccccff
}

ul{
    list-style-type: none;
}

.content{
    background-color: #cccccc
}
.footer{
    text-align: center;
    height: 10em;
    background-color: #ccffcc;
    clear: both;
}

.header{
    text-align: center;
    height: 10em;
    background-color: #ffff99
}
.content{
    float: left;
    width: 80%;
}
.dashboard{
    /*margin-left: 10%;*/
}
.main-content{
    overflow: auto;
}