body{
    background-color: #ccccff;
    width: 80%;
    margin: auto;
}

/* CONTENT /////////////////////////*/

.content{
    float: left;
    width: 80%;
    background-color: #cccccc;
}
.main-content{
    overflow: auto;
    padding: 0;
}

/* home */

.dashboard{
    overflow: auto;
    background: #ffcccc;
    padding-left: 4em;
}

ul{
    list-style-type: none;
}

/* drilldown */

.drilldown{
    float: left;
}
#dd-street{
    font-size: 20px;
}
#dd-ber{
    text-align: left;
}

.dd-thumb-pics{
    width: 60px;
    height: 42px;
    cursor: pointer;
}

#dd-pic-large{
    width: 480px;
    height: 320px;
}
/*//////////////////////////////////*/

/* FOOTER ////////////////////*/
.footer{
    text-align: center;
    height: 10em;
    background-color: #ccffcc;
    clear: both;
}
.footer p{
    margin: 0;
}
/*//////////////////////////////////*/

 /*HEADER ////////////////////////*/
.header{
    text-align: center;
    height: 10em;
    background-color: #ffff99
}
.header-left{
    width: 80%;
    float: left;
    height: 10em;
}
.header-right{
    background: #99ff99;
    height: 10em;
    width: 20%;
    float: right;
}

/* dropdown favourites */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*//////////////////////////////////*/

/* cycling pager styles ////////////*/

.cycle-pager{
    font-size: 2em;
    color: #a6b3cd;
    cursor: pointer;
    padding: 0;
}

.cycle-pager-active{
    color: #c05f1d;
}
/*//////////////////////////////////*/



/* DATATABLES ////////////*/

.dataTables_length {
    float: right !important;
}
/*//////////////////////////////////*/


/* generated tables ////////////////*/

.dd-table  {border-collapse:collapse;border-spacing:0;border: none;}
.dd-table td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;border-width:1px;overflow:hidden;word-break:normal;}
.dd-table th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:none;border-width:1px;overflow:hidden;word-break:normal;}
.dd-table .tg-e3zv{font-weight:bold; text-align: right;}
.dd-table .tg-yw4l{vertical-align:top}
.dd-table .tg-9hbo{font-weight:bold;vertical-align:top}

/*//////////////////////////////////*/
