body{
    background-color: #ccccff;
    width: 80%;
    margin: auto;
}

/* CONTENT /////////////////////////*/
.content{
    float: left;
    width: 80%;
    margin-right: 4em;
    background-color: #cccccc;
}
.main-content{
    overflow: auto;
    padding: 2em 0 0 0;
}

.dashboard{
    overflow: auto;
}

ul{
    list-style-type: none;
}
/*//////////////////////////////////*/

/* FOOTER ////////////////////*/
.footer{
    text-align: center;
    height: 10em;
    background-color: #ccffcc;
    clear: both;
}
/*//////////////////////////////////*/

 /*HEADER ////////////////////////*/
.header{
    text-align: center;
    height: 10em;
    background-color: #ffff99
}

/*//////////////////////////////////*/

/* cycling pager styles ////////////*/

.cycle-pager{
    font-size: 2em;
    color: #a6b3cd;
    cursor: pointer;
    padding: 0;
}

.cycle-pager-active{
    color: #c05f1d;
}

/* DATATABLES ////////////*/

.dataTables_length {
    float: right !important;
}